body {
    font-family: 'Open Sans', serif;
    background-color: #f9fafc;
}

.company {
	display: flex;
	flex-direction: column;
}

.company p {
	font-size: 13px;
}

ul {
	font-size: 13px;
	padding: 0px 10px;
}

#hire, #scroll {
	background-color: black;
	color: white;
	border-radius: 15px;
	align-items: stretch;
	padding-top: 10px;
	padding-bottom: 10px;
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
}

#hire {
	text-align: center;
}

a {
	padding-left: 43%;
	font-size: 13px;
}

h4{
	font-size: 20px;
}

.company p {
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.main p {
	font-size: 13px;
	border-left: 3px solid lightgray;
	padding: 0px 15px;
}

.circles {
	display: none;
}





@media only screen and (min-width: 768px) {

	.company {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	.company p {
		width: 20%;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	
	li {
		padding: 10px;
	}
	
	#hire {
		padding: 10px 20px 0px 20px;
		text-align: center;
	}
	
	h4 {
		padding-top: 50px;
		margin-left: 10px;
	}
	
	.main p {
		width: 50%;
		margin-left: 10px;
	}
	
	#scroll {
	position: fixed;
	bottom: 10px;
	right: 45%;
	color: white;
    background-color: black;
    border-radius: 15px;
    padding: 10px 15px;
	font-size: 10px;
	}
	
	a {
	padding-left: 0;
	font-size: 13px;
}
	
	
	
.main {
		position: relative;
	}	
	
	.circles {display: block;}
	
.red, .purple, .orange {
    display: inline-block;
	position: absolute;
    border-radius: 50%;
}

.red {
	background-color: rgba(247, 136, 167, 0.6);
	right: 130px;
	top: 70px;
	height: 250px;
    width: 250px;
	z-index: 1;
}

.purple {
	background-color: rgba(207, 130, 213, 0.6);
	right: 50px;
	top: 110px;
	height: 120px;
    width: 120px;
	z-index: 2;
}

.orange {
	background-color: rgba(247, 193, 162, 0.7);	
	right: 50px;
	top: 200px;
	height: 150px;
    width: 150px;
	z-index: 3;
}
}